<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fight!</title>
</head>
<body>
  <%=@current_player%>
  <form action="/battle" method="post">
		<input type="text" name="coord">
    <input type="submit" value="fire">
  </form>
</body>
</html>