<div>
	
	<p>Welome to Battleships</p>
	<form action="/player2">
      <p>Welcome <%= @name %>.</p>
      <p>Please enter the other player name?</p>
      <input type="text" name="player2">
      <input type="submit">
  </form>
    
  <p>Welcome <%= @name_check %>.</p>
	
		

</div>