<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
	<a href="/newgame">New Game</a>
	
	<form action="/newgame" method="post">
		
    <input type="submit" value="New Game">
  </form>
  
</body>
</html>