<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
	<body>
		<section style="width: 500px; margin-left: auto; margin-right: auto">
			<h1>BattleShips</h1>
			<%= yield %>
		</section>
	</body>
</html>