<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BattleShips</title>
</head>
<body>

  <p>What's your name?</p>
  
	<%if !@second_name || !@first_name %>

  	<form action="/newgame" method="post">  
    	<input type="text" name="first"><br>
    	<input type="text" name="second"><br>
    	<input type="submit" value="GO!">
		</form>	

	<%end%>
	 
  <%if @first_name %>
    <p>Welcome <%=@first_name%>, good hunting</p>
  <%end%>

  <%if @second_name %>
    <p>Welcome <%=@second_name%>, good hunting</p>
  <%end%>
  
  <%if @first_name && @second_name && !@first_name.empty? && !@second_name.empty? %>
    <p>Ready to Battle?</p>
    <!-- <a href="/battle"><button type="button" name="Fight!">Fight!</button></a> -->
    <form action="/place_ships">
      <input type="submit" value="Set up ships!">
    </form>

  <%end%>

  
  
</body>
</html> 
